$primary: #2199ff;
$secondary: #333;

$white: #ffff;

//font families
$font-bold : 'Montserrat-Bold';
$font-light : 'Montserrat-Light';
$font-medium : 'Montserrat-Medium';

//font-sizes
$font-size-x-lg : 40px;
$font-size-lg : 20px;
$font-size-md : 14px;
$font-size-sm : 12px;
$font-size-x-sm : 10px;